.About {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  min-height: 346px;
  padding: 50px;

  background-color: #fff;
  color: #000000;

  .about__title {
    margin: 0 0 30px;

    font-size: 30px;
    font-weight: 400;
  }

  .about__text {
    margin: 0 0 30px;
    max-width: 650px;

    font-size: 16px;
    font-weight: 400;
  }

  .about__photo {
    display: block;
    width: 431px;
    height: 245px;

    background-color: #445162;
  }
}
