.Buy {
  box-sizing: border-box;
  min-height: 656px;
  padding: 50px;
  background-color: #ffffff;

  .buy-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .buy__title {
    margin: 0 0 20px;

    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }

  .buy__card {
    box-sizing: border-box;
    width: 300px;
    min-height: 307px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background-color: #445062;
    border: 2px solid #445062;
    border-radius: 5px;

    .buy__list {
      margin: 20px 0;
      padding: 0;

      font-size: 14px;
    }

    .buy__list-item:not(:last-child) {
      margin-bottom: 10px;
    }

    .buy__card-title {
      display: block;
      padding: 10px 0;

      font-size: 24px;
    }

    .buy__price {
      display: block;
      width: 100%;
      padding: 10px 0;

      background-color: white;

      text-align: center;
      font-size: 40px;
      color: #445062;
    }

    .buy__btn {
      display: block;
      width: 90%;
      min-height: 42px;

      border: none;
      border-radius: 5px;
      background-color: white;

      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 600;
      color: #445062;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}