.Contacts {
  box-sizing: border-box;
  min-height: 510px;
  padding: 50px;
  background-color: #445062;
  color: #ffffff;

  .contacts-wrapper {
    display: flex;
    justify-content: center;
  }

  .contacts__title {
    margin: 0 0 30px;

    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: white;
  }

  .contacts__form {
    display: flex;
    flex-direction: column;

    width: 498px;
    margin-right: 44px;
  }

  .contacts__name-input {
    display: block;
    min-height: 42px;

    margin-bottom: 20px;
    padding-left: 15px;

    border: none;
    border-radius: 5px;

    font-size: 16px;
    font-family: inherit;
  }

  .contacts__email-input {
    display: block;
    min-height: 42px;

    padding-left: 15px;
    border: none;
    border-radius: 5px;

    font-size: 16px;
    font-family: inherit;
  }

  .contacts__textarea {
    resize: none;
    min-height: 170px;

    padding-top: 10px;
    padding-left: 15px;
    margin: 20px 0;

    border: none;
    border-radius: 5px;

    font-size: 16px;
    font-family: inherit;
  }

  .contacts__submit {
    display: block;
    align-self: center;
    width: 140px;
    min-height: 42px;

    border: none;
    border-radius: 5px;
    background-color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #445062;
    text-transform: uppercase;
    cursor: pointer;
  }

  .social-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contacts__skype {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &::before {
      content: "";
      display: inline-block;
      width: 27px;
      height: 26px;
      margin-right: 5px;

      background: url("../../public/skype-icon.png") bottom center no-repeat;
    }
  }

  .contacts__icq {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &::before {
      content: "";
      display: inline-block;
      width: 27px;
      height: 26px;
      margin-right: 5px;

      background: url("../../public/icq-icon.png") bottom center no-repeat;
    }
  }

  .contacts__email {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &::before {
      content: "";
      display: inline-block;
      width: 27px;
      height: 24px;
      margin-right: 5px;

      background: url("../../public/email-icon.png") bottom center no-repeat;
    }
  }

  .contacts__phone {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &::before {
      content: "";
      display: inline-block;
      width: 27px;
      height: 24px;
      margin-right: 5px;

      background: url("../../public/phone-icon.png") bottom center no-repeat;
    }
  }

  .social-icon {
    width: 44px;
    height: 44px;
  }
}