.Dignity {
  box-sizing: border-box;
  min-height: 420px;
  padding: 50px;
  background-color: #f5f5f5;

  .dignity__title {
    margin: 0 0 30px;

    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }

  .dignity-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .dignity__item {
    position: relative;
    width: 533px;
    margin-right: 10px;
    padding-left: 43px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;

      display: block;
      width: 32px;
      height: 32px;

      background: url("../../public/plus-icon.png") no-repeat;
    }
  }
}