.Header {
  box-sizing: border-box;
  min-height: 323px;
  padding: 50px;

  background-color: #445062;
  color: #ffffff;

  header {
    display: flex;
    justify-content: space-between;
  }

  .header__title {
    margin: 0 0 30px;

    font-size: 60px;
    font-weight: 400;
  }

  .header__bullets-list {
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 20px;
    line-height: 36px;
  }

  .header__bullet {
    &::before {
      content: "";
      display: inline-block;
      width: 27px;
      height: 24px;
      margin-right: 12px;

      background: url("../../public/check-icon.png") bottom center no-repeat;
    }
  }

  .header__photo {
    width: 471px;
    height: 217px;

    margin-top: 14px;

    background-color: white;
  }
}
