.Reviews {
  box-sizing: border-box;
  min-height: 420px;
  padding: 50px;
  background-color: #f5f5f5;

  .reviews__title {
    margin: 0 0 20px;

    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }

  .reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews-content-wrapper {
    display: flex;
    align-items: flex-start;

    width: 578px;
    margin-top: 15px;
    margin-right: 20px;
  }

  .reviews-text-wrapper {
    width: 482px;
    min-height: 122px;
    font-size: 14px;

    background-image: url("../../public/bg-review.png");
    background-repeat: no-repeat;
  }

  .reviews__text {
    margin: 15px 10px 10px 25px;
  }

  .reviews__author {
    display: inline-block;
    margin-left: 25px;

    color: #989898;
  }

  .reviews__photo {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin-right: 14px;

    background-color: #445062;
  }
}