.Scrinshots {
  box-sizing: border-box;
  min-height: 489px;
  padding: 50px;

  .scrinshots__title {
    margin: 0 0 20px;

    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }

  .scrinshots-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .scrinshots-content-wrapper {
    display: flex;
    align-items: flex-start;

    width: 578px;
    margin-top: 33px;
    margin-right: 20px;
  }

  .scrinshots-text-wrapper {
    width: 364px;
  }

  .scrinshots__item-title {
    margin: 0;
    font-weight: 400;
  }

  .scrinshots__photo {
    width: 200px;
    height: 150px;
    margin-right: 14px;

    background-color: #445062;
  }
}



